apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: simple-nodejs-app-zjog
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: simple-nodejs-app-zjog
    app.kubernetes.io/part-of: nodejs-users
  name: simple-nodejs-app-zjog
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: simple-nodejs-app-zjog
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: simple-nodejs-app-zjog
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-rgqn-tenant/nodejs-users/simple-nodejs-app-zjog@sha256:1871346080813e9f7fc34b0216c82736cdb3bb7c69348ae54a93d2c54ce2e2d8
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
